<% layout("Layouts/boilerplate") %> 
<main class="py-3 container text-light">

    <!-- Display general information projects here-->
    <section>
        <h2>About Me</h2>
        <p><%= portfolioData.bio %></p>

        

        <ul>
            <% for (let link of portfolioData.links){ %>
            <div class="my-3">
                <a href="<%= link[Object.keys(link)[0]] %>">
                    <button type="button" class="btn btn-light"><%= Object.keys(link)[0] %></button>
                </a>
            </div>
            <% } %> 
        </ul>
    </section>

    <!-- Display education here-->
    <section class="py-3">
        <h2>Education</h2>
        <% for (let school of portfolioData.education){ %>
            <div class="card mb-3 border-secondary bg-dark">
                <div class="card-body">
                    <h5 class="card-title"><%= school.degree_type %> in <%= school.degree_name %></b> - <%= school.school %></h5>
                    <span><%= school.location %></span>
                    <span style="text-align:right;"><%= school.start_date %> - <%= school.end_date %></span>
                </div>
            </div>
        <% } %> 
    </section>

    <!-- Display professional experience here-->
    <section class="py-3">
        <h2>Professional Experience</h2>
        <% for (let job of portfolioData.professional_experience){ %>
            <div class="card mb-3 border-secondary bg-dark">
                <div class="card-body">
                    <h5 class="card-title"><%= job.title %> </h5>
                    <p class="card-text">
                      <div><%= job.company %>, <%= job.location %></div>
                      <div><%= job.start_date %> - <%= job.end_date %></div>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <% for (let detail of job.details){ %>
                        <li class="list-group-item border-secondary bg-dark text-light"> &bull; <%= detail %> </li>
                    <% } %>
                </ul>
            </div>
        <% } %> 
    </section>

    <!-- Display skills here-->
    <section class="py-3">
        <h2>Skills</h2>
        <div class="card mb-3 border-secondary bg-dark">
            <ul class="list-group list-group-flush">
                <% for (let skill_type of portfolioData.skills){ %>
                <% for (let key of Object.keys(skill_type)){ %>
                    <li class="list-group-item border-secondary bg-dark text-light"><% for (let skill of skill_type[key]){ %> <span class="badge rounded-pill text-bg-light text-dark"><%= skill %></span><% } %></li>
                <% } %> 
                <% } %> 
            </ul>
        </div>
    </section>

    <!-- Display portfolio projects here-->
    
    <section class="py-3">
        <h2>Sample Projects</h2>
        <%- include("../Partials/portfolio_projects") %>
    </section>
</main>